.score{
    background-color: rgb(187, 173, 160);
    margin: 3px;
    padding: 5px 25px;
    text-align: center;
    font-size: 13px;
    color: white;
    height: min-content;
    align-self: flex-end;
}

.num{
    font-weight: bold;
    font-size: 25px;
}

.best{
    display: flex;
}

span{
    display: block;
    text-transform: uppercase;
}